<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Email List</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- my css -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- my css -->
  </head>
  <body>
    <!-- controllo vue -->
    <div id="app" v-cloak>
      <!-- container lista email -->
      <div class="container">
        <!-- titolo lista -->
        <h1>Emal List</h1>

        <!-- Lista delle email -->
        <ul v-if="emails.length === 10">
          <li v-for="(email, index) in emails">{{index + 1}} - {{email}}</li>
        </ul>
        <!-- Lista delle email -->
      </div>
      <!-- container lista email -->
    </div>
    <!-- controllo vue -->

    <!-- vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- vue js -->

    <!-- My js -->
    <script src="js/main.js"></script>
    <!-- My js -->
  </body>
</html>
